<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 开发环境vue -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<!-- 生产环境vue -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
	</head>
	<body>
		
		<!-- 
		 watch方法可以实时监听data中的数据变化，一旦某些数据发生了改变，那么就能直接被触发该数据在watch中的同名函数，进而被自动调用。
			也就是说data中返回的对象包含了什么数据，那么就在watch中以key为名称创建一个方法，该方法内部定义该属性值被改变时做的处理和操作。
			所以watch属性中的函数不是随便起名字的，他是必须与data中的数据的key进行一一对应的；
		 -->
		
		<div id="app">
			<cpn :num1="pnum1" :num2="pnum2" @num1change="num1" @num2change="num2"/>
		</div>
		
		<template id="cpn">
			<div>
				<p>props{{num1}}</p>
				<p>data{{dnum1}}</p>
				<input type="text" v-model="dnum1">
				<p>props{{num2}}</p>
				<p>data{{dnum2}}</p>
				<input type="text" v-model="dnum2">
			</div>
		</template>
		
		<script type="text/javascript">
			const app = new Vue({
				el: '#app',
				data: {
					pnum1: 1,
					pnum2: 0,
				},
				methods: {
					num1(value) {
						this.pnum1 = parseFloat(value);
					},
					num2(value) {
						this.pnum2 = parseFloat(value);
					}
				},
				components: {
					cpn: {
						template: '#cpn',
						props: {
							num1: Number,
							num2: Number,
						},
						data() {
							return {dnum1: this.num1, dnum2: this.num2};
						},
						watch: {
							dnum1(newValue) {
								this.dnum2 = newValue * 100;
								this.$emit('num1change', newValue);
							},
							dnum2(newValue) {
								this.dnum1 = newValue / 100;
								this.$emit('num2change', newValue);
							},
						}
					}
				}
			});
		</script>
	</body>
</html>
